<nav class="navbar navbar-expand-sm navbar-light justify-content-between" style="background-color:#e3f2fd;">

  <!-- Links -->

  <ul class="navbar-nav">
    <li class="nav-item">
      <p class="nav-link" >Oniwaban Baseball E-Store</p>
    </li>
    <li class="nav-item">
      <p class="nav-link" routerLink="">|</p>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/products">Products</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/cart">Cart</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About Us</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/review">Reviews</a>
    </li>

  </ul>

</nav>

<div id="notification">
</div>

<router-outlet></router-outlet>