<div class="product-search-container">
    <div class="search-container">
        <input class="form-control form-control-lg" placeholder="Search for products..."
            aria-label=".form-control-lg example" [(ngModel)]="searchQuery" >
        <div>
            <button type="button" class="btn btn-primary" (click)="search()">Search</button>
        </div>
    </div>
</div>
<div class="product-list-container">


    <div class="product-container">
        <div *ngFor="let product of filteredProducts">
            <app-product [product]="product"></app-product>
        </div>
    </div>
</div>