div.product-container {
    display: flex;
    flex-wrap: wrap;
    gap:1em;
    justify-content: center;
    align-items: stretch;
}

div.product-search-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top:1em;
}

div.search-container button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
div.search-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 0.25rem;
}


div.product-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 5em;
}



@media only screen and (min-width: 729px) {
    div.search-container{
        width:40vw;


    }
}

@media only screen and (max-width: 728px) {
    div.search-container{
        width: 90vw;

    }
}