img.product-img {
    width: 100%;
    height:auto;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

div.product-card {
    width: 20vw;
    min-width: 300px;
    height: 100%;
    border-radius: 0.2em;
    padding-bottom: 0.1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-width: 1px;
    border-color: black;
    border-style: solid;
}


@media only screen and (max-width: 728px) {
    div.product-card{
        width: 85vw;
        min-width: none;
    }
}

h3.product-title {
    height: 2em;
}

div.product-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}
