div.home-container{
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

div.home-container input{
    width: 50%;
}
div.search-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30vw;
}

